:root {
  --header-shadow-color: rgba(0, 0, 0, 0.13);
  --header-menu-button-color: #03363D;
  --header-toplinks-button-color: #17494D;
  --page-content-background-color: #17494D;
  --customer-service-text-champions-color: #CE9FB7;
  --customer-service-text-customer-color: #00A656;
  --customer-service-text-service-color: #30AABC;
  --customer-service-trial-background-color: #FF6224;
  --messaging-frame-background-color: #FED6A8;
  --messaging-description-header-color: #03363D;
  --messaging-description-main-text-color: #17494D;
  --customer-support-header-text-color: #03363D;
  --customer-support-active-button-color: #17494D;
  --customer-support-inactive-button-color: #68737D;
  --customer-support-quote-border-color: #C2C8CC;
  --customer-experience-box-shadow-color: rgba(104, 115, 125, 0.15);
  --customer-experience-header-text-color: #03363D;
  --customer-experience-additional-text-color: #17494D;
  --customer-experience-trends-card-background-color: #F8F9F9;
  --customer-experience-trends-card-name-color: #03363D;
  --customer-experience-trends-card-description-color: #17494D;
  --customer-experience-trends-new-experience-border-color: #7D3D54;
  --customer-experience-trends-experience-champions-border-color: #3D8DAE;
  --customer-experience-trends-new-product-border-color: #C38F00;
}


.desktop-body {
	width: 1440px;
	height: 6232px;
	position: relative;
	background: white;
	margin: 0 auto;
}

.header-frame {
	width: 1440px;
	height: 123px;
	position: relative;
	background: white;
	box-shadow: 0px 8px 24px var(--header-shadow-color);
	display: flex;
	justify-content: flex-start;
	align-content: center;
	flex-direction: column;
}

.header-menu-frame {
	width: 1115px;
	height: 74px;
	position: relative;
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto;
	align-content: center;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    padding-left: 7px;
    padding-right: 16px;
	margin: 0 auto auto auto;
}

.header-logo-group {
	width: fit-content;
	height: fit-content;
	position: relative;
	margin: auto;
	margin-bottom: 15px;
	display: grid;
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 1;
	grid-row-end: 1;
}

.header-menu-buttons-frame {
	width: 853px;
	height: 58px;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
    align-items: center;
    padding-left: 0.5px;
    padding-right: 0.5px;
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 1;
}

.header-menu-simple-button {
	text-align: center;
	color: var(--header-menu-button-color);
	font-size: 16px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	word-wrap: break-word;
	position: relative;
	margin-right: 60px;
}

.header-menu-simple-button:hover {
	cursor: pointer;
	text-decoration: underline;
}

.header-menu-pricing {
	width: 50px;
}

.header-menu-demo {
	width: 43px;
	text-align: left;
}

.header-menu-resources {
	width: 76px;
}

.header-menu-products {
	width: 67px;
}

.header-menu-services {
	width: 62px;
	text-align: left;
}

.header-menu-solutions {
	width: 65px;
	font-size: 15px;
}

.header-menu-get-started-frame {
	width: 150px;
	height: 46px;
	background: var(--header-toplinks-button-color);
	border: 2px var(--header-toplinks-button-color) solid;
	display: grid;
	align-content: center;
	justify-content: center;
}

.header-menu-get-started-frame:hover {
	cursor: pointer;
}

.header-menu-get-started-button {
	width: 86px;
	text-align: center;
	color: white;
	font-size: 16px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	word-wrap: break-word;
}

.header-toplinks-frame {
	width: 1083px;
	height: 28px;
	display: flex;
	flex-direction: row;
	justify-content: right;
	align-items: flex-end;
	margin: auto auto 0 auto;
}

.header-toplinks-buttons {
	width: 270px;
	height: 18px;
	display: flex;
	flex-direction: row;
	margin-right: 12.5px;
}

.header-toplinks-simple-button {
	color: var(--header-toplinks-button-color);
	font-size: 12px;
	font-family: Roboto;
	font-style: normal;
	letter-spacing: 0;
	font-weight: 400;
	line-height: 18px;
	word-wrap: break-word;
	margin-right: 12px;
}

.header-toplinks-simple-button:hover {
	cursor: pointer;
	text-decoration: underline;
}

.header-toplinks-sign-in {
	min-width: 37px;
}

.header-toplinks-product-support {
	min-width: 88px;
}

.header-toplinks-company {
	min-width: 51px;
	text-align: center;
}

.header-toplinks-contact-us {
	min-width: 58px;
}

.header-toplinks-language {
	min-width: 40px;
	text-align: center;
	margin-right: 0;
}

.page-content-frame {
	width: 1440px;
	height: 5242px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.page-content-customer-service-frame {
	width: 1440px;
	height: 566px;
	background: var(--page-content-background-color);
	display: flex;
	flex-direction: column;
}

.page-content-customer-service-inner-frame {
	width: 1131px;
	min-height: 500px;
	display: flex;
	align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
	margin: 0 auto;
}

.page-content-customer-service-text-frame {
	width: 611px;
	height: 317px;
	display: flex;
	flex-direction: column;
}

.page-content-customer-service-text-champions {
	width: 392.52px;
	color: var(--customer-service-text-champions-color);
	font-size: 77px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	line-height: 97.50px;
	word-wrap: break-word;
}

.page-content-customer-service-text-of-customer-frame {
	width: 626.57px;
	height: 97px;
	display: flex;
}

.page-content-customer-service-text-of {
	width: 86px;
	color: white;
	font-size: 77px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	line-height: 97.50px;
	word-wrap: break-word;
	margin-right: 15px;
}

.page-content-customer-service-text-customer-frame {
	width: 528.35px;
	height: 85.80px;
	display: flex;
    flex-direction: row-reverse;
    align-content: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.page-content-customer-service-text-customer {
	width: 328.60px;
	color: var(--customer-service-text-customer-color);
	font-size: 77px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	line-height: 97.50px;
	word-wrap: break-word;
}

.page-content-customer-service-text-customer-underline {
	width: 328px;
	height: 4px;
	background: white;
	margin-bottom: 0;
}

.page-content-customer-service-text-service-frame {
	width: 415.49px;
	height: 85.80px;
	display: flex;
    flex-direction: row-reverse;
    align-content: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.page-content-customer-service-text-service {
	width: 254.69px;
	color: var(--customer-service-text-service-color);
	font-size: 78px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	line-height: 97.50px;
	word-wrap: break-word;
}

.page-content-customer-service-text-service-underline {
	width: 254px;
	height: 4px;
	background: white;
}

.page-content-customer-service-trial-frame {
	width: 471.25px;
	height: 260px;
	display: flex;
	flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: space-around;
    align-items: flex-start;
}

.page-content-customer-service-trial-text {
	width: 407px;
	color: white;
	font-size: 20px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
	word-wrap: break-word;
}

.page-content-customer-service-trial-buttons-frame {
	width: 309px;
	height: 68px;
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}

.page-content-customer-service-trial-free-trial-frame {
	width: 130px;
	height: 52px;
	display: grid;
    align-content: center;
    justify-content: center;
	background: var(--customer-service-trial-background-color);
	border: 2px var(--customer-service-trial-background-color) solid;
}

.page-content-customer-service-trial-free-trial-frame:hover {
	cursor: pointer;
}

.page-content-customer-service-trial-free-trial-button {
	width: 75px;
	text-align: center;
	color: white;
	font-size: 18px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	line-height: 25px;
	word-wrap: break-word;
}

.page-content-customer-service-trial-demo-frame {
	width: 147px;
	height: 52px;
	display: grid;
    align-content: center;
    justify-content: center;
	border: 2px var(--customer-service-trial-background-color) solid;
}

.page-content-customer-service-trial-demo-frame:hover {
	cursor: pointer;
}

.page-content-customer-service-trial-demo-button {
	width: 95px;
	text-align: center;
	color: var(--customer-service-trial-background-color);
	font-size: 18px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	line-height: 25px;
	word-wrap: break-word;
}

.page-content-customer-service-super-new {
	width: 166px;
	height: 160px;
	margin-left: 88px;
    margin-top: 13px;
    z-index: 100;
    overflow: visible;
}

.page-content-messaging-frame {
	width: 1440px;
	height: 403px;
	background: var(--messaging-frame-background-color);
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto;
	align-items: center;
    justify-content: center;
}

.page-content-messaging-image {
	width: 316px;
	height: 348px;
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 1;
	grid-row-end: 1;
	display: grid;
	z-index: 2;
	margin-left: -38.5px;
}

.page-content-messaging-description-frame {
	width: 1099px;
	height: 275px;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 1;
	display: flex;
	flex-direction: row;
	z-index: 1;
	justify-content: space-around;
    align-items: flex-end;
    padding-top: 24px;
}

.page-content-messaging-description-image {
	width: 466px;
	height: 267px;
	margin-left: 38.5px;
}

.page-content-messaging-description-text-frame {
	width: 457.91px;
	height: 275px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 16px;
}

.page-content-messaging-description-header-text {
	width: 323px;
	left: 8.02px;
	color: var(--messaging-description-header-color);
	font-size: 31px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	line-height: 40px;
	word-wrap: break-word;
}

.page-content-messaging-description-main-text {
	width: 441px;
	color: var(--messaging-description-main-text-color);
	font-size: 16px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	word-wrap: break-word;
}

.page-content-messaging-description-buttons-frame {
	width: 457.91px;
	height: 43px;
	display: flex;
	flex-direction: row;
}

.page-content-messaging-description-watch-video-frame {
	width: 107px;
	height: 21px;
	display: flex;
	flex-direction: row-reverse;
	margin-left: 18px;
	margin-right: 13px;
	flex-wrap: wrap;
    justify-content: center;
}

.page-content-messaging-description-watch-video-frame:hover {
	cursor: pointer;
}

.page-content-messaging-description-watch-video-button {
	width: 107px;
	color: var(--messaging-description-header-color);
	font-size: 18px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	line-height: 27px;
	word-wrap: break-word;
	display: grid;
    justify-content: center;
    align-items: center;
}

.page-content-messaging-description-watch-video-underline {
	width: 107px;
	height: 2px;
	background: var(--messaging-description-main-text-color);
}

.page-content-messaging-description-get-details-frame {
	width: 126px;
	height: 21px;
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
    justify-content: center;
}

.page-content-messaging-description-get-details-frame:hover {
	cursor: pointer;
}

.page-content-messaging-description-get-details-button {
	width: 126px;
	color: var(--messaging-description-header-color);
	font-size: 18px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	line-height: 27px;
	word-wrap: break-word;
	display: grid;
    justify-content: center;
    align-items: center;
}

.page-content-messaging-description-get-details-underline {
	width: 126px;
	height: 2px;
	background: var(--messaging-description-main-text-color);
}

.page-content-customer-support-frame {
	min-width: 1115px;
	height: 1224px;
	margin-top: 32px;
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: space-evenly;
}

.page-content-customer-support-header-text-frame {
	width: 641.08px;
	height: 208px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.page-content-customer-support-header-text {
	width: 576px;
	height: 112px;
	text-align: left;
	color: var(--customer-support-header-text-color);
	font-size: 48px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	line-height: 56px;
	word-wrap: break-word;
}

.page-content-customer-support-header-additional-text {
	width: 545px;
	height: 56px;
	text-align: center;
	color: var(--customer-support-header-text-color);
	font-size: 20px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
	word-wrap: break-word;
}

.page-content-customer-support-card-content-frame {
	min-width: 1083px;
	height: 872px;
	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.page-content-customer-support-card-content-buttons-frame {
	width: 1083px;
	height: 47px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
}

.page-content-customer-support-card-content-service-button {
	width: 86px;
	color: var(--customer-support-header-text-color);
	font-size: 16px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 22px;
	letter-spacing: 2px;
	word-wrap: break-word;
	border-bottom: solid 2px var(--customer-support-active-button-color);
    display: grid;
    justify-content: center;
    margin-right: 54px;
}

.page-content-customer-support-card-content-service-button:hover {
	cursor: pointer;
	text-decoration: underline;
}

.page-content-customer-support-card-content-sales-button {
	width: 55px;
	color: var(--customer-support-inactive-button-color);
	font-size: 15px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	text-transform: uppercase;
	line-height: 22px;
	letter-spacing: 2px;
	word-wrap: break-word;
}

.page-content-customer-support-card-content-sales-button:hover {
	cursor: pointer;
	text-decoration: underline;
}

.page-content-customer-support-card-content-description-frame {
	min-width: 1099px;
	height: 800px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    flex-wrap: wrap;
    justify-content: space-between;
}

.page-content-customer-support-card-content-description-text-frame {
	width: 366.33px;
	height: 800px;
	display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 30px;
    margin-left: 130px;
    margin-right: 170px;
}

.page-content-customer-support-card-content-description-text-header-text {
	width: 358px;
	color: var(--customer-support-header-text-color);
	font-size: 32px;
	font-family: Roboto;
	font-weight: 700;
	line-height: 40px;
	word-wrap: break-word;
}

.page-content-customer-support-card-content-description-text-additional-text {
	width: 335px;
	color: var(--customer-support-active-button-color);
	font-size: 16px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	line-height: 24px;
	word-wrap: break-word;
}

.page-content-customer-support-card-content-description-text-learn-more-frame {
	width: 97px;
	height: 21px;
	padding-bottom: 3px;
	border-bottom: solid 2px var(--customer-support-active-button-color);
}

.page-content-customer-support-card-content-description-text-learn-more-button {
	width: 97px;
	color: var(--customer-support-header-text-color);
	font-size: 18px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	line-height: 27px;
	word-wrap: break-word;
}

.page-content-customer-support-card-content-description-text-learn-more-button:hover {
	cursor: pointer;
	text-decoration: underline;
}

.page-content-customer-support-card-content-description-text-squarespace-frame {
	width: 318px;
	height: 217px;
	background: white;
	border-left: solid 2px var(--customer-support-quote-border-color);
	margin-top: 34px;
	margin-left: 40px;
	padding-left: 30px;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: flex-start;
}

.page-content-customer-support-card-content-description-text-squarespace-logo {
	width: 181px;
	height: 26px;
}

.page-content-customer-support-card-content-description-text-squarespace-quote-text {
	width: 279px;
	color: var(--customer-support-active-button-color);
	font-size: 16px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	line-height: 24px;
	word-wrap: break-word;
}

.page-content-customer-support-card-content-description-text-squarespace-quote-author-frame {
	width: 284.33px;
	height: 60px;
	margin-left: 4px;
	display: flex;
	flex-direction: column;
}

.page-content-customer-support-card-content-description-text-squarespace-quote-author-name-text {
	width: 109px;
	color: var(--customer-support-active-button-color);
	font-size: 15px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	line-height: 24px;
	word-wrap: break-word;
}

.page-content-customer-support-card-content-description-text-squarespace-quote-author-title-text {
	width: 258px;
	color: var(--customer-support-header-text-color);
	font-size: 14px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	line-height: 18px;
	word-wrap: break-word;
}

.page-content-customer-support-card-content-description-images-frame {
	width: 625.08px;
	height: 775.03px;
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: auto;
}

.page-content-customer-support-card-content-description-images-support-chat-image {
	width: 409px;
	height: 420px;
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 1;
	grid-row-end: 1;
	display: flex;
	z-index: 2;
	margin-top: 375px;
    margin-left: -105px;
}

.page-content-customer-support-card-content-description-images-support-person-image {
	width: 533px;
	height: 673px;
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 1;
	grid-row-end: 1;
	display: flex;
	z-index: 1;
}

.page-content-customer-experience-frame {
	width: 1440px;
	height: 640px;
	background-image: url("assets/customer-experience-background.svg");
	margin-top: 94px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.page-content-customer-experience-card-content-frame {
	width: 625px;
	height: 416px;
	background: white;
	box-shadow: 0px 24px 36px var(--customer-experience-box-shadow-color);
	margin-left: 460px;
	display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 22px;
}

.page-content-customer-experience-card-content-header-text {
	width: 455px;
	color: var(--customer-experience-header-text-color);
	font-size: 48px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	line-height: 56px;
	word-wrap: break-word;
}

.page-content-customer-experience-card-content-additional-text {
	width: 496px;
	color: var(--customer-experience-additional-text-color);
	font-size: 15px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	word-wrap: break-word;
}

.page-content-customer-experience-card-content-buttons-frame {
	width: 513.08px;
	height: 40px;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 36px;
}

.page-content-customer-experience-card-content-buttons-learn-more-frame {
	width: 83px;
	height: 18px;
	border-bottom: solid 2px var(--customer-experience-additional-text-color);
	padding-bottom: 6px;
}

.page-content-customer-experience-card-content-buttons-learn-more-button {
	width: 83px;
	color: var(--customer-experience-header-text-color);
	font-size: 16px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	word-wrap: break-word;
}

.page-content-customer-experience-card-content-buttons-learn-more-button:hover {
	cursor: pointer;
	text-decoration: underline;
}

.page-content-customer-experience-card-content-buttons-watch-video-frame {
	width: 93px;
	height: 18px;
	border-bottom: solid 2px var(--customer-experience-additional-text-color);
	padding-bottom: 6px;
}

.page-content-customer-experience-card-content-buttons-watch-video-button {
	width: 93px;
	color: var(--customer-experience-header-text-color);
	font-size: 16px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	word-wrap: break-word;
}

.page-content-customer-experience-card-content-buttons-watch-video-button:hover {
	cursor: pointer;
	text-decoration: underline;
}

.page-content-customer-experience-trends-frame {
	width: 1099px;
	height: 352px;
	margin-top: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}

.page-content-customer-experience-trends-card-frame {
	width: 350px;
	height: 336px;
	background: var(--customer-experience-trends-card-background-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
}

.page-content-customer-experience-trends-new-customer-experience-frame {
	border-bottom: solid 2px var(--customer-experience-trends-new-experience-border-color);
}

.page-content-customer-experience-trends-card-name {
	height: 22px;
	color: var(--customer-experience-trends-card-name-color);
	font-size: 14px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	text-transform: uppercase;
	line-height: 22px;
	letter-spacing: 2px;
	word-wrap: break-word;
	margin-top: 32px;
}

.page-content-customer-experience-trends-new-customer-experience-card-name {
	width: 141px;
}

.page-content-customer-experience-trends-card-header {
	color: var(--customer-experience-trends-card-name-color);
	font-size: 24px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	line-height: 32px;
	word-wrap: break-word;
	margin-top: 8px;
}

.page-content-customer-experience-trends-new-customer-experience-card-header {
	width: 222px;
}

.page-content-customer-experience-trends-card-description {
	color: var(--customer-experience-trends-card-description-color);
	font-size: 15px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	word-wrap: break-word;
	margin-top: 26px;
}

.page-content-customer-experience-trends-new-customer-experience-card-description {
	width: 283px;
}

.page-content-customer-experience-trends-action-button-frame {
	height: 18px;
	border-bottom: solid 2px var(--customer-experience-trends-card-description-color);
	margin-top: auto;
	margin-bottom: 42px;
}

.page-content-customer-experience-trends-new-customer-experience-read-report-frame {
	width: 87px;
}

.page-content-customer-experience-trends-action-button {
	color: var(--customer-experience-trends-card-name-color);
	font-size: 16px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	word-wrap: break-word;
}

.page-content-customer-experience-trends-action-button:hover {
	cursor: pointer;
	text-decoration: underline;
}

.page-content-customer-experience-trends-new-customer-experience-read-report-button {
	width: 87px;
}

.page-content-customer-experience-trends-customer-experience-champions-frame {
	border-bottom: solid 2px var(--customer-experience-trends-experience-champions-border-color);
}

.page-content-customer-experience-trends-customer-experience-champions-card-name {
	min-width: 126px;
}

.page-content-customer-experience-trends-customer-experience-champions-card-header {
 	width: 261px;
 	font-size: 23px;
}

.page-content-customer-experience-trends-customer-experience-champions-card-description {
 	width: 278px;
 	font-size: 16px;
}

.page-content-customer-experience-trends-customer-experience-champions-read-more-frame {
	width: 79px;
}

.page-content-customer-experience-trends-customer-experience-champions-read-more-button {
	width: 79px;
}

.page-content-customer-experience-trends-new-product-frame {
	border-bottom: solid 2px var(--customer-experience-trends-new-product-border-color);
}

.page-content-customer-experience-trends-new-product-card-name {
	min-width: 204px;
}

.page-content-customer-experience-trends-new-product-card-header {
	width: 253px;
}

.page-content-customer-experience-trends-new-product-card-description {
	width: 264px;
	font-size: 16px;
	margin-top: 22px;
}

.page-content-customer-experience-trends-new-product-learn-more-frame {
	width: 83px;
}

.page-content-customer-experience-trends-new-product-learn-more-button {
	width: 83px;
}