:root {
  --header-shadow-color: rgba(0, 0, 0, 0.13);
  --header-menu-button-color: #03363D;
  --header-toplinks-button-color: #17494D;
  --page-content-background-color: #17494D;
  --customer-service-text-champions-color: #CE9FB7;
  --customer-service-text-customer-color: #00A656;
  --customer-service-text-service-color: #30AABC;
  --customer-service-trial-background-color: #FF6224;
  --messaging-frame-background-color: #FED6A8;
  --messaging-description-header-color: #03363D;
  --messaging-description-main-text-color: #17494D;
  --customer-support-header-text-color: #03363D;
  --customer-support-active-button-color: #17494D;
  --customer-support-inactive-button-color: #68737D;
  --customer-support-quote-border-color: #C2C8CC;
  --customer-experience-box-shadow-color: rgba(104, 115, 125, 0.15);
  --customer-experience-header-text-color: #03363D;
  --customer-experience-additional-text-color: #17494D;
  --customer-experience-trends-card-background-color: #F8F9F9;
  --customer-experience-trends-card-name-color: #03363D;
  --customer-experience-trends-card-description-color: #17494D;
  --customer-experience-trends-new-experience-border-color: #7D3D54;
  --customer-experience-trends-experience-champions-border-color: #3D8DAE;
  --customer-experience-trends-new-product-border-color: #C38F00;
  --digital-customer-service-background-color: #D6EEF2;
  --digital-customer-service-box-shadow-color: rgba(104, 115, 125, 0.15);
  --digital-customer-service-text-color: #03363D;
  --customer-stories-background-color: #F8F9F9;
  --customer-stories-text-color: #03363D;
  --customer-stories-button-underline-color: #17494D;
  --customer-experience-links-border-color: #C2C8CC;
  --customer-experience-links-text-color: #03363D;
  --customer-experience-links-button-underline-color: #17494D;
  --free-trials-background-color: #D6EEF2;
  --free-trials-header-text-color: #03363D;
  --free-trials-action-button-background-color: #17494D;
  --footer-background-color: #F8F9F9;
  --footer-header-text-color: #03363D;
  --footer-navigation-link-color: #68737D;
  --footer-additional-text-color: #17494D;
  --footer-placeholder-text-color: rgba(104, 115, 125, 0.53);
  --footer-content-separator-color: #C2C8CC;
  --copyright-text-color: #68737D;
  --copyright-background-color: #F8F9F9;
}

html {
	font-size: 16px;
}

body {
	margin: 0;
}

.desktop-body {
	width: 100%;
	max-width: 90rem;
	height: 389.5rem;
	position: relative;
	background: white;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 99% 1%;
	grid-template-rows: auto auto auto auto;
}

.faded :not(.burger) {
	filter: blur(5px) contrast(40%);
}

.no-scroll {
	overflow: hidden;
}

.header-frame {
	width: 100%;
	height: 7.6875rem;
	position: relative;
	background: white;
	box-shadow: 0 0.5rem 1.5rem var(--header-shadow-color);
	grid-row: 1 / 1;
	grid-column: 1 / 1;
	display: grid;
    grid-template-columns: 9% 78% 13%;;
    grid-template-rows: auto;
    animation: header-frame-box-shadow 8s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}

@keyframes header-frame-box-shadow {
	to { box-shadow: 0 1rem 3rem green; }
}

.header-wrapper {
	height: 7.6875rem;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	grid-column: 2 / 2;
}

.header-menu-frame {
	height: 4.625rem;
	position: relative;
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto;
    margin: 0 auto auto auto;
    align-items: center;
    justify-content: space-between;
    column-gap: 10rem;
}

.header-logo-group {
	width: fit-content;
	height: fit-content;
	position: relative;
	margin: auto;
	margin-bottom: 0.9375rem;
	display: grid;
	grid-column: 1 / 1;
	grid-row: 1 / 1;
    animation-name: header-logo-scale;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes header-logo-scale {
	from { transform: scale(1); }
	to { transform: scale(1.5); }
}

.header-menu-buttons-frame {
	height: 3.625rem;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
    align-items: center;
    padding-left: 0.03125rem;
    padding-right: 0.03125rem;
    grid-column: 2 / 2;
    grid-row: 1 / 1;
}

.header-menu-simple-button {
	text-align: center;
	color: var(--header-menu-button-color);
	font-size: 1rem;
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5rem;
	word-wrap: break-word;
	position: relative;
	margin-right: 3.75rem;
}

.header-menu-simple-button:hover {
	cursor: pointer;
	text-decoration: underline;
}

.header-menu-demo {
	text-align: left;
}

.header-menu-services {
	text-align: left;
}

.header-menu-solutions {
	font-size: 0.9375rem;
}

.header-menu-wrapper {
	display: flex;
	flex-direction: column;
}

.header-menu-items-frame {
	display: none;
}

.header-menu-items-frame-open {
	display: flex;
	flex-direction: column;
	box-shadow: 0px 8px 16px 0px var(--header-shadow-color);
	background: white;
	position: absolute;
	margin-top: 1.5rem;
	padding: 0.5rem;
	flex-wrap: wrap;
    align-content: flex-start;
	justify-content: space-evenly;
    align-items: flex-start;
    row-gap: 0.5rem;
}

.header-menu-item {
	text-align: center;
	color: var(--header-menu-button-color);
	font-size: 0.75rem;
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	line-height: 1rem;
	word-wrap: break-word;
	position: relative;
}

.header-menu-item:hover {
	cursor: pointer;
	text-decoration: underline;
}

.header-menu-get-started-frame {
	height: 2.875rem;
	background: var(--header-toplinks-button-color);
	border: 0.125rem var(--header-toplinks-button-color) solid;
	display: grid;
	align-content: center;
	justify-content: center;
    padding-left: 2rem;
    padding-right: 2rem;
    white-space: nowrap;
    animation-name: get-started-gradient;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes get-started-gradient {
	from { background: var(--header-toplinks-button-color); }
	to { background: linear-gradient(#174b4f, #182868, #501981, #9a1978, #b31a1a); }
}

.header-menu-get-started-frame:hover {
	cursor: pointer;
}

.header-menu-get-started-button {
	text-align: center;
	color: white;
	font-size: 1rem;
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5rem;
	word-wrap: break-word;
}

.header-menu-burger-frame {
	position: relative;
	z-index: 2;
	display: none;
}

.header-menu-burger-frame:hover {
	cursor: pointer;
}

.header-menu-burger-open {
	animation: header-menu-burger-rotate 0.5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in;
}

@keyframes header-menu-burger-rotate {
	to { transform: rotate(-90deg); }
}

.header-menu-burger-closed {
	animation: header-menu-burger-rotate-back 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in;
}

@keyframes header-menu-burger-rotate-back {
	from { transform: rotate(-90deg); }
	to { transform: rotate(0deg); }
}

.header-toplinks-frame {
	height: 1.75rem;
	display: flex;
	flex-direction: row;
	justify-content: right;
    align-content: flex-end;
    flex-wrap: wrap;
	margin: auto 2% 0 auto;
}

.header-toplinks-buttons {
	height: 1.125rem;
	display: flex;
	flex-direction: row;
}

.header-toplinks-simple-button {
	color: var(--header-toplinks-button-color);
	font-size: 0.75rem;
	font-family: Roboto;
	font-style: normal;
	letter-spacing: 0;
	font-weight: 400;
	line-height: 1.125rem;
	word-wrap: break-word;
	margin-right: 0.75rem;
}

.header-toplinks-simple-button:hover {
	cursor: pointer;
	text-decoration: underline;
}

.header-toplinks-company {
	text-align: center;
}

.header-toplinks-language {
	text-align: center;
	margin-right: 0;
}

.page-content-frame {
	width: 100%;
	height: 390rem;
	grid-row: 2 / 2;
	grid-column: 1 / 1;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.burger-menu-frame {
	margin: 3rem 0 auto auto;
	opacity: 0.85;
	position: relative;
	z-index: 1;
	grid-row: 1 / 1;
	grid-column: 2 / 2;
	display: none;
}

.burger-menu-open {
	display: flex;
	overflow: overlay;
	background: var(--free-trials-background-color);
	animation: burger-menu-show-up 1s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes burger-menu-show-up {
	to { transform: translateX(-100%); }
}

.burger-menu-closed {
	animation: burger-menu-close 1s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes burger-menu-close {
	from { transform: translateX(-100%); }
	to { transform: translateX(0%); display: none; }
}

.burger-menu-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: flex-start;
	flex-wrap: wrap;
    align-items: flex-start;
    padding: 3rem 7rem 2rem 2rem;
    row-gap: 1.5rem;
}

.burger-menu-wrapper > div {
	font-size: 2rem;
}

.burger-menu-wrapper > .header-menu-simple-button {
	margin-right: 0;
}

.page-content-background-sound-frame {
	width: 100%;
	height: 7rem;
	background: var(--page-content-background-color);
	display: flex;
	justify-content: flex-end;
}

.page-content-background-sound-control-button {
	padding-top: 4rem;
	padding-right: 2rem;
	color: var(--customer-service-text-champions-color);
	font-size: 2rem;
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	line-height: 2.5rem;
	word-wrap: break-word;
}

.page-content-background-sound-control-button:hover {
	cursor: pointer;
	text-decoration: underline;
}

.page-content-customer-service-frame {
	width: 100%;
	height: 35.375rem;
	background: var(--page-content-background-color);
	display: grid;
	grid-template-columns: 10% 80% 10%;
	grid-template-rows: auto;
}

.page-content-customer-service-inner-frame {
	min-height: 31.25rem;
	display: flex;
	align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
	margin: 0 auto;
	grid-column: 2 / 2;
	justify-content: space-between;
    column-gap: 15rem;
}

.page-content-customer-service-text-frame {
	height: 19.8125rem;
	display: flex;
	flex-direction: column;
}

.page-content-customer-service-text-champions {
	color: var(--customer-service-text-champions-color);
	font-size: 4.8125rem;
	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	line-height: 6.09375rem;
	word-wrap: break-word;
}

.page-content-customer-service-text-of-customer-frame {
	height: 6.0625rem;
	display: flex;
}

.page-content-customer-service-text-of {
	color: white;
	font-size: 4.8125rem;
	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	line-height: 6.09375rem;
	word-wrap: break-word;
	margin-right: 0.9375rem;
}

.page-content-customer-service-text-customer-frame {
	height: 5.3625rem;
	display: flex;
    flex-direction: row-reverse;
    align-content: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    border-bottom: solid 0.25rem white;
}

.page-content-customer-service-text-customer {
	color: var(--customer-service-text-customer-color);
	font-size: 4.8125rem;
	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	line-height: 6.09375rem;
	word-wrap: break-word;
}

.page-content-customer-service-text-service-frame {
	width: fit-content;
	height: 5.3625rem;
	display: flex;
    flex-direction: row-reverse;
    align-content: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    border-bottom: 0.25rem solid white;
}

.page-content-customer-service-text-service {
	color: var(--customer-service-text-service-color);
	font-size: 4.875rem;
	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	line-height: 6.09375rem;
	word-wrap: break-word;
}

.page-content-customer-service-trial-frame {
	height: 16.25rem;
	display: flex;
	flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: space-around;
    align-items: flex-start;
}

.page-content-customer-service-trial-text {
	width: 25rem;
	color: white;
	font-size: 1.25rem;
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	line-height: 1.75rem;
	word-wrap: break-word;
}

.page-content-customer-service-trial-buttons-frame {
	height: 4.25rem;
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    column-gap: 1rem;
}

.page-content-customer-service-trial-free-trial-frame {
	height: 3.25rem;
	display: grid;
    align-content: center;
    justify-content: center;
	background: var(--customer-service-trial-background-color);
	border: 0.125rem var(--customer-service-trial-background-color) solid;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	animation-name: free-trial-rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes free-trial-rotate {
	from { transform: none; }
	to { transform: rotate(360deg); }
}

.page-content-customer-service-trial-free-trial-frame:hover {
	cursor: pointer;
}

.page-content-customer-service-trial-free-trial-button {
	text-align: center;
	color: white;
	font-size: 1.125rem;
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5625rem;
	word-wrap: break-word;
}

.page-content-customer-service-trial-demo-frame {
	height: 3.25rem;
	display: grid;
    align-content: center;
    justify-content: center;
	border: 0.125rem var(--customer-service-trial-background-color) solid;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	animation-name: view-demo-skew;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes view-demo-skew {
	from { transform: none; }
	to { transform: skew(10deg, 10deg); }
}

.page-content-customer-service-trial-demo-frame:hover {
	cursor: pointer;
}

.page-content-customer-service-trial-demo-button {
	text-align: center;
	color: var(--customer-service-trial-background-color);
	font-size: 1.125rem;
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5625rem;
	word-wrap: break-word;
}

.page-content-customer-service-super-new {
	height: 10rem;
	margin-left: 5.5rem;
    margin-top: 0.8125rem;
    z-index: 100;
    overflow: visible;
    grid-column: 1 / 1;
    animation-name: super-new-opacity;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes super-new-opacity {
	from { opacity: 1; }
	to { opacity: 0; }
}

.page-content-messaging-frame {
	width: 100%;
	height: 25.1875rem;
	background: var(--messaging-frame-background-color);
	display: grid;
	grid-template-columns: 10% 80% 10%;
	grid-template-rows: auto;
}

.page-content-messaging-wrapper {
	height: 25.1875rem;
	grid-column: 2 / 2;
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto;
	align-items: center;
    justify-content: center;
    column-gap: 6rem;
}

.page-content-messaging-image {
	height: 21.75rem;
    grid-column: 1 / 1;
    grid-row: 1 / 1;
	display: grid;
	z-index: 2;
	margin-left: -2.40625rem;
	animation: messaging-image-top 4s;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
}

@keyframes messaging-image-top {
	to { top: 12rem; position: relative; }
}

.page-content-messaging-description-frame {
	height: 17.1875rem;
    grid-column: 1 / 2;
    grid-row: 1 / 1;
	display: flex;
	flex-direction: row;
	z-index: 1;
	justify-content: space-around;
    align-items: flex-end;
    padding-top: 1.5rem;
    column-gap: 3.75rem;
}

.page-content-messaging-description-image {
	height: 16.6875rem;
	margin-left: 2.40625rem;
	animation-name: messaging-description-blur;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes messaging-description-blur {
	from { filter: none; }
	to { filter: blur(1.5rem); }
}

.page-content-messaging-description-text-frame {
	height: 17.1875rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.page-content-messaging-description-header-text {
	width: fit-content;
	color: var(--messaging-description-header-color);
	font-size: 1.9375rem;
	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	line-height: 2.5rem;
	word-wrap: break-word;
}

.page-content-messaging-description-main-text {
	width: 27.5625rem;
	color: var(--messaging-description-main-text-color);
	font-size: 1rem;
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5rem;
	word-wrap: break-word;
}

.page-content-messaging-description-buttons-frame {
	height: 2.6875rem;
	display: flex;
	flex-direction: row;
}

.page-content-messaging-description-watch-video-frame {
	height: 1.3125rem;
	display: flex;
	flex-direction: row-reverse;
	margin-left: 1.125rem;
	margin-right: 0.8125rem;
	flex-wrap: wrap;
    justify-content: center;
    border-bottom: 0.125rem solid var(--messaging-description-main-text-color);
    padding: 0.25rem;
    animation-name: watch-video-height;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes watch-video-height {
	from { height: 1.3125rem; }
	to { height: 3rem; }
}

.page-content-messaging-description-watch-video-frame:hover {
	cursor: pointer;
}

.page-content-messaging-description-watch-video-button {
	color: var(--messaging-description-header-color);
	font-size: 1.125rem;
	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	line-height: 1.6875rem;
	word-wrap: break-word;
	display: grid;
    justify-content: center;
    align-items: center;
}

.page-content-messaging-description-get-details-frame {
	height: 1.3125rem;
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
    justify-content: center;
    border-bottom: 0.125rem solid var(--messaging-description-main-text-color);
    padding: 0.25rem;
}

.page-content-messaging-description-get-details-frame:hover {
	cursor: pointer;
}

.page-content-messaging-description-get-details-button {
	color: var(--messaging-description-header-color);
	font-size: 1.125rem;
	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	line-height: 1.6875rem;
	word-wrap: break-word;
	display: grid;
    justify-content: center;
    align-items: center;
}

.page-content-customer-support-frame {
	width: 100%;
	height: 76.5rem;
	margin-top: 2rem;
	display: grid;
	grid-template-columns: 5% 90% 5%;
	grid-template-rows: auto;
}

.page-content-customer-support-wrapper {
	height: 76.5rem;
	grid-column: 2 / 2;
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: space-evenly;
}

.page-content-customer-support-header-text-frame {
	height: 13rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.page-content-customer-support-header-text {
	width: 36rem;
	height: 7rem;
	text-align: left;
	color: var(--customer-support-header-text-color);
	font-size: 3rem;
	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	line-height: 3.5rem;
	word-wrap: break-word;
    animation-name: customer-support-header-movement;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

@keyframes customer-support-header-movement {
	from { transform: translateX(-10rem); }
	to { transform: translateX(10rem); }
}

.page-content-customer-support-header-additional-text {
	width: 35.625rem;
	height: 3.5rem;
	text-align: center;
	color: var(--customer-support-header-text-color);
	font-size: 1.25rem;
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	line-height: 1.75rem;
	word-wrap: break-word;
}

.page-content-customer-support-card-content-frame {
	height: 54.5rem;
	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.page-content-customer-support-card-content-buttons-frame {
	height: 2.9375rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
}

.page-content-customer-support-card-content-service-button {
	color: var(--customer-support-header-text-color);
	font-size: 1rem;
	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1.375;
	letter-spacing: 0.125rem;
	word-wrap: break-word;
	border-bottom: solid 0.125rem var(--customer-support-active-button-color);
    display: grid;
    justify-content: center;
    margin-right: 3.375rem;
}

.page-content-customer-support-card-content-service-button:hover {
	cursor: pointer;
	text-decoration: underline;
}

.page-content-customer-support-card-content-sales-button {
	color: var(--customer-support-inactive-button-color);
	font-size: 0.9375rem;
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	text-transform: uppercase;
	line-height: 1.375rem;
	letter-spacing: 0.125rem;
	word-wrap: break-word;
}

.page-content-customer-support-card-content-sales-button:hover {
	cursor: pointer;
	text-decoration: underline;
}

.page-content-customer-support-card-content-description-frame {
	height: 50rem;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    flex-wrap: wrap;
    justify-content: space-between;
}

.page-content-customer-support-card-content-description-text-frame {
	height: 50rem;
	display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 1.875rem;
    margin-left: 2.125rem;
    margin-right: 10.625rem;
}

.page-content-customer-support-card-content-description-text-header-text {
	width: 22.375rem;
	color: var(--customer-support-header-text-color);
	font-size: 2rem;
	font-family: Roboto;
	font-weight: 700;
	line-height: 2.5rem;
	word-wrap: break-word;
}

.page-content-customer-support-card-content-description-text-additional-text {
	width: 20.9375rem;
	color: var(--customer-support-active-button-color);
	font-size: 1rem;
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	line-height: 1.5rem;
	word-wrap: break-word;
}

.page-content-customer-support-card-content-description-text-learn-more-frame {
	height: 1.3125rem;
	padding-bottom: 0.1875rem;
	border-bottom: solid 0.125rem var(--customer-support-active-button-color);
}

.page-content-customer-support-card-content-description-text-learn-more-button {
	color: var(--customer-support-header-text-color);
	font-size: 1.125rem;
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	line-height: 1.6875rem;
	word-wrap: break-word;
}

.page-content-customer-support-card-content-description-text-learn-more-button:hover {
	cursor: pointer;
	text-decoration: underline;
}

.page-content-customer-support-card-content-description-text-squarespace-frame {
	height: 13.5625rem;
	background: white;
	border-left: solid 0.125rem var(--customer-support-quote-border-color);
	margin-top: 2.125rem;
	margin-left: 2.5rem;
	padding-left: 1.875rem;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: space-between;
	justify-content: space-around;
	align-items: flex-start;
}

.page-content-customer-support-card-content-description-text-squarespace-logo {
	height: 1.625rem;
}

.page-content-customer-support-card-content-description-text-squarespace-quote-text {
	width: 17.4375rem;
	color: var(--customer-support-active-button-color);
	font-size: 1rem;
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	line-height: 1.5rem;
	word-wrap: break-word;
}

.page-content-customer-support-card-content-description-text-squarespace-quote-author-frame {
	height: 3.75rem;
	margin-left: 0.25rem;
	display: flex;
	flex-direction: column;
}

.page-content-customer-support-card-content-description-text-squarespace-quote-author-name-text {
	width: 6.8125rem;
	color: var(--customer-support-active-button-color);
	font-size: 0.9375rem;
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	line-height: 1.5rem;
	word-wrap: break-word;
}

.page-content-customer-support-card-content-description-text-squarespace-quote-author-title-text {
	width: 16.125rem;
	color: var(--customer-support-header-text-color);
	font-size: 0.875rem;
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	line-height: 1.125rem;
	word-wrap: break-word;
}

.page-content-customer-support-card-content-description-images-frame {
	height: 48.439375rem;
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: auto;
}

.page-content-customer-support-card-content-description-images-support-chat-image {
	height: 26.25rem;
	grid-column: 1 / 1;
	grid-row: 1 / 1;
	display: flex;
	z-index: 2;
	margin-top: 23.4375rem;
    margin-left: -6.5625rem;
}

.page-content-customer-support-card-content-description-images-support-person-image {
	height: 42.0625rem;
	grid-column: 1 / 1;
	grid-row: 1 / 1;
	display: flex;
	z-index: 1;
	animation: support-person-opacity-in-out 5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes support-person-opacity-in-out {
	from { opacity: 1; }
	to { opacity: 0; }
}

.page-content-customer-experience-frame {
	width: 100%;
	height: 40rem;
	background-image: url("assets/customer-experience-background.svg");
	margin-top: 5.875rem;
	display: grid;
	grid-template-columns: 44% 43% 13%;
	justify-content: center;
    align-items: center;
}

.page-content-customer-experience-card-content-frame {
	height: 26rem;
	grid-column: 2 / 2;
	background: white;
	box-shadow: 0 1.5rem 2.25rem var(--customer-experience-box-shadow-color);
	display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 1.375rem;
    animation: customer-experience-card-background 15s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}

@keyframes customer-experience-card-background {
	to { background: skyblue; }
}

.page-content-customer-experience-card-content-header-text {
	width: 28.4375rem;
	color: var(--customer-experience-header-text-color);
	font-size: 3rem;
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	line-height: 3.5rem;
	word-wrap: break-word;
}

.page-content-customer-experience-card-content-additional-text {
	width: 31rem;
	color: var(--customer-experience-additional-text-color);
	font-size: 0.9375rem;
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5rem;
	word-wrap: break-word;
}

.page-content-customer-experience-card-content-buttons-frame {
	height: 2.5rem;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 2.25rem;
}

.page-content-customer-experience-card-content-buttons-learn-more-frame {
	height: 1.125rem;
	border-bottom: solid 0.125rem var(--customer-experience-additional-text-color);
	padding-bottom: 0.375rem;
}

.page-content-customer-experience-card-content-buttons-learn-more-button {
	color: var(--customer-experience-header-text-color);
	font-size: 1rem;
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5rem;
	word-wrap: break-word;
}

.page-content-customer-experience-card-content-buttons-learn-more-button:hover {
	cursor: pointer;
	text-decoration: underline;
}

.page-content-customer-experience-card-content-buttons-watch-video-frame {
	height: 1.125rem;
	border-bottom: solid 0.125rem var(--customer-experience-additional-text-color);
	padding-bottom: 0.375rem;
}

.page-content-customer-experience-card-content-buttons-watch-video-button {
	color: var(--customer-experience-header-text-color);
	font-size: 1rem;
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5rem;
	word-wrap: break-word;
}

.page-content-customer-experience-card-content-buttons-watch-video-button:hover {
	cursor: pointer;
	text-decoration: underline;
}

.page-content-customer-experience-trends-frame {
	width: 100%;
	height: 22rem;
	margin-top: 4rem;
    display: grid;
    grid-template-columns: 12% 76% 12%;
    grid-template-rows: auto;
}

.page-content-customer-experience-trends-wrapper {
	height: 22rem;
	grid-column: 2 / 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}

.page-content-customer-experience-trends-card-frame {
	height: 21rem;
	background: var(--customer-experience-trends-card-background-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    padding-right: 2rem;
    padding-left: 2rem;
    animation: cx-trends-card-frame-border 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.page-content-customer-experience-trends-card-frame:hover {
	cursor: pointer;
}

@keyframes cx-trends-card-frame-border {
	to { border-width: 1rem; }
}

.page-content-customer-experience-trends-new-customer-experience-frame {
	border-bottom: solid 0.125rem var(--customer-experience-trends-new-experience-border-color);
}

.page-content-customer-experience-trends-card-name {
	height: 1.375rem;
	color: var(--customer-experience-trends-card-name-color);
	font-size: 0.875rem;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	text-transform: uppercase;
	line-height: 1.375rem;
	letter-spacing: 0.125rem;
	word-wrap: break-word;
	margin-top: 2rem;
}

.page-content-customer-experience-trends-new-customer-experience-card-name {
	width: 8.8125rem;
}

.page-content-customer-experience-trends-card-header {
	color: var(--customer-experience-trends-card-name-color);
	font-size: 1.5rem;
	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	line-height: 2rem;
	word-wrap: break-word;
	margin-top: 0.5rem;
}

.page-content-customer-experience-trends-new-customer-experience-card-header {
	width: 13.875rem;
}

.page-content-customer-experience-trends-card-description {
	color: var(--customer-experience-trends-card-description-color);
	font-size: 0.9375rem;
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5rem;
	word-wrap: break-word;
	margin-top: 1.625rem;
}

.page-content-customer-experience-trends-new-customer-experience-card-description {
	width: 17.6875rem;
}

.page-content-customer-experience-trends-action-button-frame {
	height: 1.125rem;
	border-bottom: solid 0.125rem var(--customer-experience-trends-card-description-color);
	margin-top: auto;
	margin-bottom: 2.625rem;
    padding-bottom: 0.375rem;
}

.page-content-customer-experience-trends-action-button {
	color: var(--customer-experience-trends-card-name-color);
	font-size: 1rem;
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5rem;
	word-wrap: break-word;
}

.page-content-customer-experience-trends-action-button:hover {
	cursor: pointer;
	text-decoration: underline;
}

.page-content-customer-experience-trends-customer-experience-champions-frame {
	border-bottom: solid 0.125rem var(--customer-experience-trends-experience-champions-border-color);
}

.page-content-customer-experience-trends-customer-experience-champions-card-name {
	width: 8.875rem;
}

.page-content-customer-experience-trends-customer-experience-champions-card-header {
	width: 16.3125rem;
 	font-size: 1.4375rem;
}

.page-content-customer-experience-trends-customer-experience-champions-card-description {
	width: 17.375rem;
 	font-size: 1rem;
}

.page-content-customer-experience-trends-new-product-frame {
	border-bottom: solid 0.125rem var(--customer-experience-trends-new-product-border-color);
}

.page-content-customer-experience-trends-new-product-card-name {
	width: 13.75rem;
}

.page-content-customer-experience-trends-new-product-card-header {
	width: 15.8125rem;
}

.page-content-customer-experience-trends-new-product-card-description {
	width: 16.5rem;
	font-size: 1rem;
	margin-top: 1.375rem;
}

.page-content-digital-customer-service-frame {
	width: 100%;
	height: 12.25rem;
	margin-top: 4rem;
    display: grid;
    grid-template-columns: 12% 76% 12%;
    align-items: center;
    justify-content: center;
}

.page-content-digital-customer-service-card-content-frame {
	height: 12.25rem;
	grid-column: 2 / 2;
	background: var(--digital-customer-service-background-color);
	box-shadow: 0 0.5rem 1.5rem var(--digital-customer-service-box-shadow-color);
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.page-content-digital-customer-service-card-content-text {
	color: var(--digital-customer-service-text-color);
	font-size: 2rem;
	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	line-height: 2.5rem;
	word-wrap: break-word;
}

.page-content-digital-customer-service-card-content-logo-frame {
	height: 2.25rem;
}

.page-content-digital-customer-service-card-content-logo {
	height: 2.25rem;
}

.page-content-customer-stories-frame {
	width: 100%;
	height: 48.8125rem;
	margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-content-customer-stories-background-frame {
	width: 100%;
	height: 42.9375rem;
	background: var(--customer-stories-background-color);
    display: grid;
    grid-template-columns: 12% 76% 12%;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
}

.page-content-customer-stories-card-content-frame {
	height: 34.91875rem;
	grid-column: 2 / 2;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-around;
}

.page-content-customer-stories-card-content-companies-frame {
	height: 34.91875rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

.page-content-customer-stories-card-content-companies-header-text {
	width: 24.875rem;
	color: var(--customer-stories-text-color);
	font-size: 2.9375rem;
	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	line-height: 3.5rem;
	word-wrap: break-word;
}

.page-content-customer-stories-card-content-companies-additional-text {
	width: 20.9375rem;
	color: var(--customer-stories-text-color);
	font-size: 1.25rem;
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	line-height: 1.75rem;
	word-wrap: break-word;
}

.page-content-customer-stories-card-content-companies-logo-grid-frame {
	height: 9.786875rem;
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: auto auto auto;
	justify-content: start;
    align-items: center;
    justify-items: start;
    column-gap: 2.8125rem;
}

.page-content-customer-stories-card-content-companies-logo-grid-mailchimp {
	height: 2.0625rem;
	display: flex;
	grid-column: 1 / 1;
	grid-row: 1 / 1;
}

.page-content-customer-stories-card-content-companies-logo-grid-tesco {
	height: 1.5625rem;
	display: flex;
	grid-column: 1 / 1;
	grid-row: 2 / 2;
}

.page-content-customer-stories-card-content-companies-logo-grid-siemens {
	height: 1.0625rem;
	display: flex;
	grid-column: 2 / 2;
	grid-row: 1 / 1;
}

.page-content-customer-stories-card-content-companies-logo-grid-khan-academy {
	height: 1.1875rem;
	display: flex;
	grid-column: 2 / 2;
	grid-row: 2 / 2;
}

.page-content-customer-stories-card-content-companies-logo-grid-stanleyblack-decker {
	height: 1.125rem;
	display: flex;
	grid-column: 3 / 3;
	grid-row: 1 / 1;
}

.page-content-customer-stories-card-content-companies-logo-grid-uber {
	height: 1.75rem;
	display: flex;
	grid-column: 3 / 3;
	grid-row: 2 / 2;
}

.page-content-customer-stories-card-content-companies-action-button-frame {
	height: 1.3125rem;
	border-bottom: solid 0.125rem var(--customer-stories-button-underline-color);
	padding-bottom: 0.375rem;
}

.page-content-customer-stories-card-content-companies-action-button {
	color: var(--customer-stories-text-color);
	font-size: 1.125rem;
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	line-height: 1.6875rem;
	word-wrap: break-word;
}

.page-content-customer-stories-card-content-companies-action-button:hover {
	cursor: pointer;
	text-decoration: underline;
}

.page-content-customer-stories-card-content-images-frame {
	height: 39.91875rem;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
}

.page-content-customer-stories-card-content-images-customer-image-top-right {
	height: 12.875rem;
	z-index: 3;
	display: flex;
	grid-column: 1 / 1;
	grid-row: 1 / 1;
	margin-left: auto;
	margin-right: 3.5625rem;
	margin-top: 1.4375rem;
}

.page-content-customer-stories-card-content-images-customer-image-middle-left {
	height: 25.6875rem;
	z-index: 2;
	display: flex;
	grid-column: 1 / 1;
	grid-row: 1 / 1;
	margin-left: -14.5rem;
	margin-top: 5.1875rem;
}

.page-content-customer-stories-card-content-images-customer-image-bottom-right {
	height: 21.375rem;
	z-index: 1;
	display: flex;
	grid-column: 1 / 1;
	grid-row: 1 / 1;
	margin-left: auto;
	margin-top: auto;
	margin-right: 0.3125rem;
	margin-bottom: 3.4375rem;
}

.page-content-customer-experience-links-frame {
	width: 100%;
	height: 21.625rem;
	display: grid;
	grid-template-columns: 12% 76% 12%;
	grid-template-rows: auto;
	justify-content: center;
	align-items: center;
}

.page-content-customer-experience-links-wrapper {
	height: 21.625rem;
	grid-column: 2 / 2;
	border-top: solid 0.125rem var(--customer-experience-links-border-color);
	display: flex;
	align-content: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
}

.page-content-customer-experience-links-card-content-frame {
	height: 17.96875rem;
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 5.5rem;
}

.page-content-customer-experience-links-card-content-header-text {
	width: 17.625rem;
	color: var(--customer-experience-links-text-color);
	font-size: 2rem;
	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	line-height: 2.5rem;
	word-wrap: break-word;
}

.page-content-customer-experience-links-card-content-links-grid-frame {
	height: 14.96875rem;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	row-gap: 0.875rem;
	column-gap: 2.8125rem;
    align-content: space-between;
}

.page-content-customer-experience-links-card-content-links-grid-link-frame {
	padding-bottom: 0.375rem;
	border-bottom: solid 0.125rem var(--customer-experience-links-button-underline-color);
	display: flex;
}

.page-content-customer-experience-links-card-content-links-grid-complete-guide-frame {
	height: 3rem;
}

.page-content-customer-experience-links-card-content-links-grid-link-button {
	color: var(--customer-experience-links-text-color);
	font-size: 1.125rem;
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	line-height: 1.6875rem;
	word-wrap: break-word;
}

.page-content-customer-experience-links-card-content-links-grid-link-button:hover {
	cursor: pointer;
	text-decoration: underline;
}

.page-content-customer-experience-links-card-content-links-grid-complete-guide-button {
	width: 19.75rem;
}

.page-content-customer-experience-links-card-content-links-grid-zendesk-update-frame {
	height: 3rem;
}

.page-content-customer-experience-links-card-content-links-grid-zendesk-update-button {
	width: 17.625rem;
}

.page-content-customer-experience-links-card-content-links-grid-customer-service-metrics-frame {
	height: 1.3125rem;
}

.page-content-customer-experience-links-card-content-links-grid-customer-service-metrics-button {
	width: 20.75rem;
}

.page-content-customer-experience-links-card-content-links-grid-customer-service-objectives-frame {
	height: 3rem;
}

.page-content-customer-experience-links-card-content-links-grid-customer-service-objectives-button {
	width: 17.5625rem;
}

.page-content-customer-experience-links-card-content-links-grid-machine-learning-frame {
	height: 3rem;
}

.page-content-customer-experience-links-card-content-links-grid-machine-learning-button {
	width: 21.375rem;
}

.page-content-customer-experience-links-card-content-links-grid-remote-workforce-frame {
	height: 1.3125rem;
}

.page-content-customer-experience-links-card-content-links-grid-remote-workforce-button {
	width: 18.8125rem;
}

.page-content-customer-experience-links-card-content-links-grid-covid-impact-frame {
	height: 1.3125rem;
}

.page-content-customer-experience-links-card-content-links-grid-covid-impact-button {
	width: 16.3125rem;
}

.page-content-customer-experience-links-card-content-links-grid-knowledge-management-frame {
	height: 3rem;
}

.page-content-customer-experience-links-card-content-links-grid-knowledge-management-button {
	width: 20.125rem;
}

.page-content-free-trials-frame {
	width: 100%;
	height: 26rem;
	background: var(--free-trials-background-color);
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 25% 50% 25%;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.page-content-free-trials-card-content-frame {
	height: 11.75rem;
	grid-column: 2 / 2;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-between;
	align-items: center;
}

.page-content-free-trials-card-content-header-text {
	text-align: center;
	color: var(--free-trials-header-text-color);
	font-size: 2.9375rem;
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	line-height: 3.5rem;
	word-wrap: break-word;
}

.page-content-free-trials-card-content-buttons-frame {
	height: 4.25rem;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: space-between;
	flex-wrap: wrap;
	column-gap: 1rem;
}

.page-content-free-trials-card-content-buttons-action-button-frame {
	border: 0.125rem var(--free-trials-action-button-background-color) solid;
	display: grid;
    align-content: center;
	align-items: center;
    justify-content: center;
    padding-left: 1.625rem;
    padding-right: 1.625rem;
    animation-name: free-trials-opacity-border;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

@keyframes free-trials-opacity-border {
	from { opacity: 1; border-color: var(--free-trials-action-button-background-color); }
	to { opacity: 0; border-color: yellow; }
}

.page-content-free-trials-card-content-buttons-action-button-frame:hover {
	cursor: pointer;
}

.page-content-free-trials-card-content-buttons-start-trial-frame {
	height: 3.25rem;
	background: var(--free-trials-action-button-background-color);
}

.page-content-free-trials-card-content-buttons-action-button {
	text-align: center;
	font-size: 1.125rem;
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	line-height: 1.5625rem;
	word-wrap: break-word;
}

.page-content-free-trials-card-content-buttons-start-trial-button {
	color: white;
}

.page-content-free-trials-card-content-buttons-view-demo-frame {
	height: 3.25rem;
}

.page-content-free-trials-card-content-buttons-view-demo-button {
	color: var(--free-trials-action-button-background-color);
}

.slider-frame {
	margin-top: 5rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.swiper {
  width: 37.5rem;
  height: 25rem;
}

.swiper-slide {
	justify-content: center;
	align-items: center;
	margin-bottom: auto;
	margin-top: auto;
}

.page-content-map-frame {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.page-content-map-header {
	width: 17.625rem;
    color: var(--customer-experience-links-text-color);
    font-size: 2rem;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5rem;
    word-wrap: break-word;
    margin: auto 2rem auto auto;
}

.page-content-map {
	height: 18.75rem;
	margin: auto auto auto 2rem;
}


.footer-frame {
	width: 100%;
	height: 43.4375rem;
	background: var(--footer-background-color);
	grid-row: 3 / 3;
	grid-column: 1 / 1;
    display: grid;
    grid-template-columns: 11% 78% 11%;
    grid-template-rows: auto;
}

.footer-content-frame {
	height: 35.4375rem;
	grid-column: 2 / 2;
	display: flex;
	flex-direction: column;
	margin-top: auto;
	margin-bottom: 2rem;
}

.footer-content-navigation-links-frame {
	height: 25.5rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.footer-content-navigation-links-logo-frame {
	height: 1.5rem;
	display: flex;
}

.footer-content-navigation-links-logo {
	height: 1.5rem;
}

.footer-content-navigation-links-columns-frame {
	height: 23rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
}

.footer-content-navigation-links-columns-header-text {
	width: 7.9375rem;
	color: var(--footer-header-text-color);
	font-size: 1.4375rem;
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	line-height: 2rem;
	word-wrap: break-word;
    margin-right: 2.8125rem;
}

.footer-content-navigation-links-columns-category-frame {
	display: flex;
	flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: flex-start;
    row-gap: 0.53125rem;
}

.footer-content-navigation-links-columns-products-frame {
	height: 23rem;
}

.footer-content-navigation-links-columns-category-column-name {
	color: var(--footer-header-text-color);
	font-size: 0.875rem;
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	text-transform: uppercase;
	line-height: 1.375rem;
	letter-spacing: 0.125rem;
	word-wrap: break-word;
}

.footer-content-navigation-links-columns-category-column-content-frame {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.footer-content-navigation-links-columns-products-column-content-frame {
	height: 7.1875rem;
}

.footer-content-navigation-links-columns-category-column-content-link {
	color: var(--footer-navigation-link-color);
	font-size: 0.75rem;
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	line-height: 1.21875rem;
	word-wrap: break-word;
}

.footer-content-navigation-links-columns-category-column-content-link:hover {
	cursor: pointer;
	text-decoration: underline;
}

.footer-content-navigation-links-columns-features-frame {
	height: 23rem;
}

.footer-content-navigation-links-columns-features-column-content-frame {
	height: 20.125rem;
}

.footer-content-navigation-links-columns-resources-frame {
	height: 23rem;
}

.footer-content-navigation-links-columns-resources-column-content-frame {
	height: 11.5rem;
}

.footer-content-navigation-links-columns-company-frame {
	height: 23rem;
}

.footer-content-navigation-links-columns-company-column-content-frame {
	height: 17.25rem;
}

.footer-content-navigation-links-columns-favorite-things-frame {
	height: 23rem;
}

.footer-content-navigation-links-columns-favorite-things-column-content-frame {
	height: 8.625rem;
}

.footer-content-subscribe-frame {
	height: 6.4375rem;
	border-top: solid 0.0625rem var(--footer-content-separator-color);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
	margin-top: 0.9375rem;
}

.footer-content-subscribe-content-frame {
	height: 4.375rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	column-gap: 0.75rem;
	padding-top: 0.625rem;
}

.footer-content-subscribe-content-text-frame {
	height: 3.875rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	align-content: flex-start;
	padding-right: 3.25rem;
}

.footer-content-subscribe-content-text-header-text {
	color: var(--footer-header-text-color);
	font-size: 1.4375rem;
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	line-height: 2rem;
	word-wrap: break-word;
}

.footer-content-subscribe-content-text-additional-text {
	color: var(--footer-additional-text-color);
	font-size: 0.9375rem;
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5rem;
	word-wrap: break-word;
}

.footer-content-subscribe-content-email-box-frame {
	height: 4.375rem;
	display: flex;
	flex-direction: row;
	animation: email-box-width-1 2.5s, email-box-width-2 5s;
  	animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  	animation-iteration-count: infinite;
}

@keyframes email-box-width-1 {
	to { width: 10rem; }
}
@keyframes email-box-width-2 {
	to { width: 20rem; }
}

.footer-content-subscribe-content-email-box-input-frame {
	width: 19.875rem;
	height: 3.25rem;
}

.footer-content-subscribe-content-email-box-input {
	width: 100%;
	height: 3.25rem;
	color: var(--footer-additional-text-color);
	font-size: 0.75rem;
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5rem;
	word-wrap: break-word;
	background: var(--footer-background-color);
	border: 0.0625rem var(--footer-navigation-link-color) solid;
}

.footer-content-subscribe-content-email-box-input::placeholder {
	color: var(--footer-placeholder-text-color);
	padding-left: 2.0625rem;
}

.footer-content-subscribe-content-email-box-button-frame {
	height: 3.25rem;
	background: var(--footer-additional-text-color);
	border: 0.125rem var(--footer-additional-text-color) solid;
	display: grid;
	align-content: center;
	align-items: center;
	justify-content: center;
	padding-left: 1.625rem;
	padding-right: 1.625rem;
}

.footer-content-subscribe-content-email-box-button-frame:hover {
	cursor: pointer;
}

.footer-content-subscribe-content-email-box-button {
	text-align: center;
	color: white;
	font-size: 1.125rem;
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	line-height: 1.5625rem;
	word-wrap: break-word;
}

.footer-content-policies-navigation-frame {
	height: 1.5rem;
	display: flex;
	flex-direction: row;
	margin-top: 1rem;
	justify-content: flex-start;
    column-gap: 1.0625rem;
}

.footer-content-policies-navigation-button {
	color: var(--footer-navigation-link-color);
	font-size: 0.75rem;
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5rem;
	word-wrap: break-word;
}

.footer-content-policies-navigation-button:hover {
	cursor: pointer;
	text-decoration: underline;
}

.footer-content-policies-navigation-copyright-text {
	color: var(--footer-navigation-link-color);
	font-size: 0.75rem;
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5rem;
	word-wrap: break-word;
}

.copyright-frame {
	width: 100%;
	height: 10.75rem;
	background: var(--copyright-background-color);
	grid-row: 4 / 4;
	grid-column: 1 / 1;
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 11% 78% 11%;
    align-items: center;
}

.copyright-content-frame {
	height: 6.75rem;
	grid-column: 2 / 2;
}

.copyright-content-company-info-text {
	width: 46rem;
	color: var(--copyright-text-color);
	font-size: 0.8125rem;
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	line-height: 1.125rem;
	word-wrap: break-word;
}

.copyright-content-description-text {
	width: 67rem;
	color: var(--copyright-text-color);
	font-size: 0.875rem;
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	line-height: 1.125rem;
	word-wrap: break-word;
}

@media (min-width: 768px) and (max-width: 1439px) {
	html {
		font-size: 10px;
	}

	.desktop-body * > img {
		transform: scale(0.7);
	}

	.header-frame {
		grid-template-columns: 5% 90% 5%;
	}

	.header-menu-frame {
		column-gap: unset;
		align-content: center;
		justify-content: space-between;
		margin-left: 0;
		margin-right: 0;
	}

	.header-menu-buttons-frame {
		display: none;
	}

	.header-menu-burger-frame {
		display: flex;
	}

	.page-content-customer-service-frame {
		grid-template-columns: 5% 90% 5%;
	}

	.page-content-customer-experience-trends-frame {
		grid-template-columns: 5% 90% 5%;
	}

	.page-content-customer-experience-frame {
		background-image: url("assets/customer-experience-background-tablet.svg");
		height: 34rem;
	}

	.page-content-customer-stories-card-content-images-customer-image-middle-left {
		margin-left: -10.5rem;
	}

	.page-content-customer-experience-links-frame {
		grid-template-columns: 5% 90% 5%;
	}

	.page-content-free-trials-frame {
		grid-template-columns: 15% 70% 15%;
	}

	.footer-content-subscribe-content-email-box-input {
		padding-inline: 0;
		padding-block: 0;
	}
}

@media (min-width: 320px) and (max-width: 767px) {
	html {
		font-size: 5px;
	}

	.desktop-body {
		height: 360rem;
	}

	.desktop-body * > img {
		transform: scale(0.5);
	}

	.page-content-frame {
		height: 450rem;
	}

	.page-content-customer-experience-frame {
		background-image: url("assets/customer-experience-background-mobile.svg");
		height: 28rem;
		margin-top: 0;
	}

	.page-content-customer-experience-card-content-header-text {
		width: 20rem;
	}

	.page-content-customer-experience-card-content-additional-text {
		width: 25rem;
	}

	.header-frame {
		grid-template-columns: 1px calc(100% - 2px) 1px;
	}

	.header-logo-group > img {
		transform: scale(0.25);
	}

	.header-menu-frame {
		column-gap: unset;
		align-content: center;
		justify-content: space-between;
		margin-left: 0;
		margin-right: 0;
	}

	.header-menu-buttons-frame {
		display: none;
	}

	.header-menu-burger-frame {
		display: flex;
		grid-column: 3 / 3;
	}

	.header-menu-simple-button {
		margin-right: 2rem;
	}

	.header-toplinks-frame {
		margin-right: 3rem;
	}

	.page-content-customer-service-frame {
		grid-template-columns: 1px calc(100% - 2px) 1px;
	}

	.page-content-customer-service-inner-frame {
		column-gap: 7rem;
	}

	.page-content-messaging-description-frame {
		column-gap: 0;
	}

	.page-content-customer-support-frame {
		height: 62.5rem;
	}

	.page-content-customer-support-wrapper {
		height: 100%;
	}

	.page-content-customer-support-card-content-description-text-frame {
		margin-left: 0;
		margin-right: 0;
	}

	.page-content-customer-support-card-content-description-images-support-chat-image {
		margin-top: 10rem;
	}

	.page-content-customer-support-card-content-description-images-support-person-image {
		margin-bottom: auto;
        margin-top: -8rem;
	}

	.page-content-customer-experience-trends-frame {
		grid-template-columns: 1px calc(100% - 2px) 1px;
	}

	.page-content-customer-stories-card-content-images-customer-image-middle-left {
		margin-left: -10.5rem;
	}

	.page-content-customer-experience-links-frame {
		grid-template-columns: 3px calc(100% - 3px) 0;
		height: 30rem;
	}

	.page-content-customer-experience-links-card-content-links-grid-frame {
		column-gap: 0.5rem;
	}

	.page-content-customer-experience-links-card-content-links-grid-link-frame {
    	width: 20rem;
	}

	.footer-frame {
		grid-template-columns: 1px calc(100% - 2px) 1px;
	}

	.page-content-free-trials-frame {
		grid-template-columns: 5px calc(100% - 10px) 5px;
	}

	.footer-content-subscribe-content-email-box-input {
		padding-inline: 0;
		padding-block: 0;
	}

	.footer-content-navigation-links-logo-frame {
    	height: 3.5rem;
	}

	.footer-content-navigation-links-logo {
    	height: 3.5rem;
        padding-left: 4rem;
	}

	.footer-content-navigation-links-columns-frame {
		justify-content: center;
    	column-gap: 1rem;
	}

	.footer-content-navigation-links-columns-header-text {
		margin-right: 0;
	}

	.copyright-frame {
		grid-template-columns: 1px calc(100% - 2px) 1px;
	}

	.copyright-content-description-text {
		width: 60rem;
	}

}

@media (min-width: 1440px) {
	.header-menu-burger-frame {
		display: none;
	}

	.burger-menu-frame {
		display: none;
	}
}